<h2><%= @grade.name %></h2>
<% @disciplines.each do |discipline| %>
  <p><%= link_to discipline.name, grade_discipline_path(@grade, discipline) %></p>

<% end %>

<%= render 'disciplines/form', grade: @grade, discipline: @discipline %>

<p>
  <% if current_user %>
    <%= link_to "Edit", edit_grade_path(@grade) if policy(@grade).edit? %>

  <% end %>
  <%= link_to "Back", grades_path %>
</p>
