<ul>
  <% @channels.each do |channel| %>
    <li><%= link_to "#{channel.id} => #{channel.name} by #{channel.user.email}", channel_path(channel) %>
      <% if current_user %>
        <% if policy(channel).edit? %>
        | Edit this "channel" by clicking <%= link_to "here", edit_channel_path(channel) %>
        <% end %>
        <% if policy(channel).destroy? %>
        <%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <% if policy(Channel).new? %>
    <p>add a "channel" by clicking <%= link_to "here", new_channel_path %></p>
  <% end %>
<% end %>

<p><%= link_to "Back", root_path %></p>
