<p id="notice"><%= notice %></p>

<p>
  <strong>Yt:</strong>
  <%= @channel.yt_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Thumbnail url:</strong>
  <%= @channel.thumbnail_url %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @channel.published_at %>
</p>

<p>
  <% @channel.videos.each do |video| %>
    <%= link_to video_path(video) do %>
      <%= image_tag video.thumbnail_url %>
    <% end %>
  <% end %>
</p>

<% if policy(@channel).edit? %>
  <%= link_to 'Edit', edit_channel_path(@channel) %> |
<% end %>
<%= link_to 'Back', channels_path %>
