<h2><%= @channel.name %></h2>
<% @videos.each do |video| %>
<p><%= image_tag video.thumbnail_url, height: "100px" %> => <%= video.name %> / id : <%= video.yt_id %></p>
<% end %>

<p>
  <% if current_user %>
    <%= link_to "Edit", edit_channel_path(@channel) if policy(@channel).edit? %>

  <% end %>
  <%= link_to "Back", channels_path %>
</p>
