<ul>
  <% @videos.each do |video| %>
    <li><%= link_to "#{video.id} => #{video.name} by #{video.channel.user.email}", video_path(video) %>
      <% if current_user %>
        <% if policy(video).edit? %>
        | Edit this "video" by clicking <%= link_to "here", edit_video_path(video) %>
        <% end %>
        <% if policy(video).destroy? %>
        <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <% if policy(@videos).new? %>
    <p>add a "video" by clicking <%= link_to "here", new_video_path %></p>
  <% end %>
<% end %>

<p><%= link_to "Back", root_path %></p>
