<h2><%= @video.name %></h2>
<p><%= image_tag @video.thumbnail_url, height: "100px" %> => <%= @video.name %> / id : <%= @video.yt_id %></p>

<p>
  <% if current_user %>
    <%= link_to "Edit", edit_video_path(@video) if policy(@video).edit? %>

  <% end %>
  <%= link_to "Back", videos_path %>
</p>
